* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  height:100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0rem;
  user-select: none;
  /*height: 100%;
  width: 100%;*/
  height: 100%;
  /*width: 100vh;*/
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

/*table {
  width: 95%;
  border-collapse: collapse;
  margin: 5px auto; /* Center the table 
}*/

th, td {
  border: 0px solid #ccc;
  /*padding: 5px;*/
  text-align: left;
  height: var(--main-size);
  vertical-align: middle;
}

.cellbutton{
  text-align: center;
  cursor: pointer;
}

.cellcontent{
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  resize: vertical;
  width: 50%;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*font-size: 2vh;*/
}

button {
  font-size: 1rem;
  background: DarkBlue; /*#0088cc;*/
  text-align: center;
  /*color: white;*/
  border: none;
  transition: all 0.2s;
  padding: 0.5rem;
}

button:hover { /*, button:focus {*/
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 255);
  cursor: pointer;
  /*background: #0ae;*/
}

fr::before {
  flex:1;
  margin-left: 0.25rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: LightBlue;
  content: "fr";
}
en::before {
  flex:1;
  margin-left: 0.25rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: LightCoral;
  content: "en";
}
ar::before {
  flex:1;
  margin-left: 0.25rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: LightGreen;
  content: "ar";
}
xx::before {
  flex:1;
  margin-left: 0.25rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: LightGrey;
  content: "xx";
}
mic::before {
  flex:1;
  margin-left: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: orange;
  content: "me";
}
intern::before {
  flex:1;
  margin-left: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: cyan;
  content: "ot";
}

/* Checkbox hack to control information box display */

.label-aside {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

.checkbox-hidden{
  opacity: 0; /* Rendu invisible mais cliquable */
  position: absolute; /* Enlève l'espace pris par l'élément */
  /*position: absolute;
  top: -100px;*/
}

/*input[type=checkbox] {
   position: absolute;
   top: -100px;
}*/

input[type=checkbox]{
  margin: 0.5rem;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  .wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

/* Define common styles for the SVG elements */
/*.svg-common {
  width: 5vh; 
  height: 5vh; 
  fill: blue; 
}

.svg-common.change-color {
  fill: red; 
}

.svg-common:hover {
  fill: green; 
}

.svg-common.change-color:hover {
  fill: yellow; 
}*/

.container-table{
  position: relative;
  overflow: scroll;
  height:45%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.cont-table{
  display: flex;
  flex-direction: column;
  /*margin-left: 4.0rem;
  margin-right: 4.0rem;*/
  position: relative;
  overflow: scroll;
  height: 95%;
  /*margin-top: 1.0rem;*/
  /*margin-bottom: 1.0rem;*/
}

.table {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #ccc;*/
  margin-left: 4.0rem;
  margin-right: 4.0rem;
  /*overflow: auto;
  height: 50%;*/
  /*table-layout: fixed;
  height: 50%;*/
  /*height: 30%;*/
  height: 75%;
}
.row {
display: flex;
border-bottom: 1px solid #ccc;
}
.cell {
display: flex;
flex-direction: row;
flex: 1;
padding: 10px;
/*border-right: 1px solid #ccc;*/
align-items: center;
}
.sub-cell {
padding: 5px;
/*border-right: 1px solid #ccc;*/
cursor: pointer;
border: 0px solid #ccc;
background-color: transparent;
}
.wide{
text-align: left;
flex:2;
}
.normal {
text-align: center;
flex: 1; /* Taille normale */
}

.svg{
  flex:1;
  height: 1.5rem;
  width: 1.5rem;
  fill: blue;
}

.svg-unplayable{
  flex:1;
  height: 1.5rem;
  width: 1.5rem;
  fill: gray;
}


.svg.change-color {
fill: red; /* Couleur de remplissage pendant l'exécution de la fonction */
}

/* Define the hover effect for the SVG elements */
.svg:hover {
fill: green; /* Change fill color on hover */
}

.svg.change-color:hover {
fill: yellow; /* Couleur de remplissage pendant l'exécution de la fonction */
}

.balise{
flex:1;
}

.texte{
flex:23;
margin-left: 0.5rem;
}

.container-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*font-size: 22px;*/
  /*color: white;*/
  /*padding: 0 20px;*/ /* Pour ajouter un peu d'espace sur les côtés */
  /*position: relative;*/
}

.record{
  flex: 1;
  color:white;
  font-size: 22px;
  max-width: 8rem;
  height: 3rem;
  margin-left: calc(33.33% - 5%);
  /*margin-right: 5rem;*/
  /*margin: 0 auto;*/
}

/*.button_dl{
  color:white;
  margin-right: 0;
}*/




.button_dl {
  flex: 1;
  /*position: absolute;*/
  /*right: 0.5rem; *//* Positionner à droite avec une marge de 20px */
  color: white;
  font-size: 22px;
  max-width: 8rem;
  height: 3rem;
  margin-right: calc(33.33% - 5%);
  /*top: 50%;*/
  /*transform: translateY(-50%);*/ /* Centrage vertical */
}
